* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(135deg, #04e6aa, #1d00d8);
    width: 350px;
    text-align: center;
    height: auto;
    border-radius: 20px;
}

.searchBox {
    display: flex;
    margin: 20px 60px;
    gap: 20px;
    align-items: center;
}

.searchBox input {
    border: none;
    outline: none;
    width: 9rem;
    height: 30px;
    border-radius: 10px;
    padding-left: -8px;
    /* font-size: 15px; */
}

.searchBox i {
    background-color: white;
    padding: 8px 8px;
    font-size: 17px;
    border-radius: 20px;
}

.weather-icon {
    width: 100px;
    margin: 30px;

}

.weather h1 {
    font-size: 30px;
    font-weight: 500;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}
.weather{
    display: none;
}

.error{
    font-size: 20px;
    display: none;
}